@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');
:root {
 
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#1C1C1C;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  margin:0;
  padding: 0;
}
.cards-container{
  margin:2%;
  width: 96%;
  columns: 7 200px;
}


@media screen and (max-width: 450px){
  .cards-container{
    columns:2 100px;
  
  }
}